<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{{  url_for('static', filename='favicon.ico') }}" />
<title>{% block page_title %}{{ config.APP_NAME }}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/app.css') }}">

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.0/tablesort.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/vendor.js') }}"></script>

